/* 로그인 css */

#aside .login {
	 vertical-align: middle;
     display: table-cell;
     margin: auto;
     width: 200px;
     height: 200px;
     background-color: #EEEFF1;
     border-radius: 5px;
     text-align: center;
     padding: 20px;
     box-sizing: border-box;
     /* border: 1px solid #555; */
 }

 #aside .login input {
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     border-radius: 5px;
     border: none;
     background-color: #555;
     margin-bottom: 15px;
     color: white;
 }

 .in {
     margin-bottom: 10px;
 }

#btn {
     background-color: #555;
     margin-bottom: 15px;
     color: white;
 }
#btn:hover {
     background-color: #9d9d9d;

 }

 #aside .login a {
     text-decoration: none;
     color: #9B9B9B;
     font-size: 12px;
 }

.logout {
	background:#555;
	color:white;
	width: 100px;
	border-radius:30px; 
    border:outset;
}
.logout:hover {
     background-color: #9d9d9d;
    
 }
 
 .userDetail {
	background:#555;
	color:white;
	width: 100px;
	border-radius:30px; 
    border:outset;
}
.userDetail:hover {
     background-color: #9d9d9d;
    
 }
