<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.mapper.AttachmentFileMapper">
	
	<insert id="insertAttachmentFile"
			parameterType="com.company.dto.AttachmentFile">
			
			INSERT INTO attachment_file
				(file_path,
				attachment_file_name,
				attachment_original_file_name,
				attachment_file_size,
				registered_date,
				deptno)
			VALUES (
				#{filePath},
				#{attachmentFileName},
				#{attachmentOriginalFileName},
				#{attachmentFileSize},
				now(),
				#{deptno}
			)
	</insert>
	
	<delete id="deleteFileByFileNo"
			parameterType="_long">
		DELETE FROM attachment_file
		WHERE attachment_file_no = #{fileNo}
	</delete>
<!-- 	<delete id="deleteFileByFileNo"
			parameterType="com.company.dto.AttachmentFile">
		DELETE FROM attachment_file
		WHERE attachment_file_no = #{attachmentFileNo}
	</delete> -->

	<select id="getAttachmentFileByFileNo"
			parameterType="_long"
			resultMap="attachmentFile">
		SELECT
			attachment_file_no,
			file_path,
			attachment_file_name,
			attachment_original_file_name,
			registered_date,
			attachment_file_size,
			deptno
		FROM attachment_file
		WHERE attachment_file_no = #{fileNo}
	</select>
	
	<select id="getAttachmentFileByDeptno"
			parameterType="_int"
			resultMap="attachmentFile">
		SELECT
			attachment_file_no,
			file_path,
			attachment_file_name,
			attachment_original_file_name,
			registered_date,
			attachment_file_size,
			deptno
		FROM attachment_file
		WHERE deptno = #{deptno}
	</select>
	
 	<resultMap type="com.company.dto.AttachmentFile" id="attachmentFile">
 		<result property="attachmentFileNo" column="attachment_file_no"/>
 		<result property="filePath" column="file_path"/>
 		<result property="attachmentFileName" column="attachment_file_name"/>
 		<result property="attachmentOriginalFileName" column="attachment_original_file_name"/>
 		<result property="registeredDate" column="registered_date"/>
 		<result property="attachmentFileSize" column="attachment_file_size"/>
 		<result property="deptno" column="deptno"/>
 	</resultMap>

</mapper>
