<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.board.mapper.BoardMapper">
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 더미 board 생성용 -->
	<insert id="insertNotice" parameterType="com.board.dto.Board">
			INSERT INTO board (
					board_title, 
					created_date, 
					board_content, 
					board_name) 
			VALUES (
					#{boardTitle}, 
					now(), 
					#{boardContent}, 
					#{boardName})
	</insert>
	
	<!-- paging -->
	<select id="getNoticeBySearchWithPage"
			parameterType="com.board.dto.PageRequestDTO"
			resultType="com.board.dto.Board">
			<bind name="start" value="(pageNum-1)*amount"/>
		SELECT 
			board_id as boardId,
			board_title as boardTitle,
			board_content as boardContent,
			created_date as createdDate,
			modified_date as modifiedDate,
			user_id as userId,
			file_id as fileId,
			board_name as boardName,
			count
		FROM board	
		<trim prefix="WHERE">
			<if test="searchKeyword != null">
				board_title LIKE CONCAT ('%', #{searchKeyword}, '%')
			</if>
		</trim>
		LIMIT #{start}, #{amount}
	</select>
	
	<!-- paging -->
	<select id="getTotalCount"
			resultType="_int">
		SELECT COUNT(board_id)
		FROM board
		<trim prefix="WHERE">
			<if test="searchKeyword != null">
				board_title LIKE CONCAT ('%', #{searchKeyword}, '%')
			</if>
		</trim>
	</select>
	
	
</mapper>
