<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.board.mapper.UserMapper">
  <select id="getUserByUserIdAndPassword"
  		  parameterType="string"
 		  resultMap="user">
 		SELECT 
 			user_id,
 			user_name,
 			password,
 			grade
 		FROM user
 		WHERE user_id= #{userId} AND password= #{password}
 	</select>
 	
 	<resultMap type="com.board.dto.User" id="user">
 		<result property="userId" column="user_id"/>
 		<result property="userName" column="user_name"/>
 		<result property="password" column="password"/>
 		<result property="grade" column="grade"/>
 	</resultMap>
 	
 	<select id="getUserByUserId"
 			parameterType="string"
 			resultMap="user">
 		SELECT 
 			user_id,
 			user_name,
 			password,
 			grade
 		FROM user
 		WHERE user_id= #{userId} 
 	</select>
 	
 	<insert id="joinUser"
 			parameterType="string">
 		INSERT INTO 
 			user(user_id, user_name, password, grade) 
 		VALUES
 			(#{userId}, #{userName}, #{password},"일반회원")		
 	</insert>
 	
 	<update id="updateUserByUserId"
 			parameterType="com.board.dto.User">
 		UPDATE board_db.user
 		SET userName = #{userName}, password = #{password}
 		WHERE user_id = #{userId}
 	</update>
 	
 	<delete id="deleteUserByUserId"
 			parameterType="String">
 		DELETE FROM board_db.user WHERE user_id = #{userId}
 	</delete>
 	
</mapper>
